<! DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Directions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js" type="application/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUnppqHOWgbDf82yVzP2hK89O3EfbNWmk&v=3.exp&sensor=true"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    

    <style>
    #map {
    width: 650px;
    height: 550px;
}
    </style>
    <nav class="navbar navbar-light" style="background-color: lightblue;">
<div class="container-fluid">
   <div class="navbar-header">
   <a  class="navbar-brand" href="/Users/narenpalep/Desktop/google-maps.html"><font color="black">Current location</font></a>
 </div>
     <ul class="nav navbar-nav">
       <li><a href="/Users/narenpalep/Desktop/google-directions.html"><font color="black">Get Directions</font></a></li>
       <li><a href="/Users/narenpalep/Desktop/weather.html"><font color="black">Check weather</font></a></li>
         <li><a href="/Users/narenpalep/Desktop/login-page.html"><font color="black">Logout</font></a></li>
     </ul>
   </div>
 </nav>
    </head>
    <body>
    <div ng-app="directions" class="map" ng-controller="getdirection" align="center">
        <div class="row">
        <p align="center"><b>Enter currentlocation and destination and get directions:</b></p><br/>
      <input align="center" type="text" ng-model="startlocation" id="startlocation" placeholder="source">
        <input align="center" type="text" ng-model="endlocation" id="endlocation" placeholder="destination"><br/><br/>
            
<input align="center" type="button" value="submit" class="btn btn-success" ng-click="routes()" id="btn"><br/>
         
            </div>
        <div id="map"></div>
        </div>
    </body>
</html>
<script>
var app = angular.module('directions',[])
.controller('getdirection', function($scope){
    
    var map;
    var options;
    
    var displayDirections = new google.maps.DirectionsRenderer({draggable:true});
    
    var service = new google.maps.DirectionsService();
    
    $scope.initialize = function(){
        var pos = new google.maps.LatLng(10,10);
        options ={
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            zoom: 2,
            center: pos
        };
        map = new google.maps.Map(document.getElementById('map'), options);
    };
    


    
    $scope.routes = function(){
         
        var startpoint = document.getElementById('startlocation').value;
        var endpoint = document.getElementById('endlocation').value;
        
        
        var request = {
            origin: startpoint,
            destination: endpoint,
            travelMode: google.maps.TravelMode.DRIVING
        };
        
        service.route(request, function(response, status){
            if(status == google.maps.DirectionsStatus.OK){
              displayDirections.setMap(map);
                displayDirections.setDirections(response);
                console.log(status);
            }
        });
    };
    
    google.maps.event.addDomListener(window, 'load', $scope.initialize);
    
});
</script>
