<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>New User?</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js" type="application/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
           
        <nav class="navbar navbar-light" style="background-color: lightblue;">
<div class="container-fluid">
   <div class="navbar-header">
   <a class="navbar-brand" href="/Users/narenpalep/Desktop/map.html"><font color="black">Home</font></a>
 </div>
     <ul class="nav navbar-nav">
       <li><a href="/Users/narenpalep/Desktop/login-page.html"><font color="black">login</font></a></li>
         <li><a href="/Users/narenpalep/Desktop/registration.html"><font color="black">register</font></a></li>
     </ul>
   </div>
 </nav>
    </head>
    <body>
    <div id="login" class="sign-up"  ng-controller="myCtrl">
       <u> <p align="center">Register here:</p></u>
        <form ng-app=""  name="myform" align="center">
        <input type="text" placeholder="name" ng-model="user.name">
            <br/><br/>
            
        <input type="email" name="myAddress" placeholder="Email-id" ng-model="user.email">
        <span ng-show="myform.myAddress.$error.email">Invalid email id.</span><br/><br/>
            <input type="password" placeholder="password" ng-model="user.pwd">
            
            <br/><br/>
    <input class="btn btn-primary" type="submit" ng-click="reg(user.name,user.email,user.pwd)" value="Register">
            <input class="btn btn-danger" type="reset" value="Clear">
     </form>
        
        </div>
        
        
        <script>
            var app = angular.module("", []);
        .controller("myCtrl", function($scope){
            
            $scope.logins = [];
            $scope.reg = function(user, mail, pwd){
            localStorage.setItem("name",user);
            localStorage.setItem("email",mail);
            localStorage.setItem("password",pwd);
                $scope.logins.push(localStorage.getItem("name"));
                $scope.logins.push(localStorage.getItem("email"));
                $scope.logins.push(localStorage.getItem("password"));       
            };
        });
        </script>
    </body>
</html>